:root {
    --primary:#0067C6;
    --secondary:#caf0f8;
    --tertiary:#f82133;
    --quaternary:#43C4B7;
    --warning:#eae2b7;
    --custom-pink: #dedaeb;
    --background: #f3f3f3;
    --green: #00c55f;
  
  
  }